{% extends 'base.html.twig' %}

{% block body %}

    <h1>Bienvenue dans ce blog</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut commodi, labore. Accusamus aperiam consequuntur,
        excepturi fuga fugit natus necessitatibus temporibus. Amet ea fuga inventore libero maxime modi nam nobis
        praesentium quia veritatis! Blanditiis quisquam quo tempora. Dignissimos fuga odio recusandae!
    </p>

    <p>
        At, atque aut
        cum dignissimos eos et impedit inventore iste natus, nisi non quaerat qui quibusdam rem saepe similique temporibus
        ullam vero. Ad dolorum enim error harum inventore ipsam, odio omnis provident quod reiciendis sunt suscipit unde,
        voluptates! Nisi, quia?
    </p>

{% endblock %}